<div ng-app="app" ng-controller="MovieController as film">
  <h2>Search for a Director Below</h2>
  <input ng-model="searchTerm"></input><button ng-click="testing()">search</button>

  <ul ng-repeat="movie in film.reviews | ratingsFilter ">
    <h2>Title: {{ movie.data.title }}</h2>
    <h2>Rating: {{ movie.data.vote_average }}</h2>
    <button ng-click="showMore()">{{buttonText}}</button>
    <div style="{{ moreInfo }}">
    <p>Description: {{ movie.data.overview }}</p>
    <p>Runtime: {{ movie.data.runtime }} minutes </p>
    <p><a href="http://www.imdb.com/title/{{movie.data.imdb_id}}" target="_blank">IMDB link</a>
    </div>
  </ul>
  <br>


</div>
